# SPDX-License-Identifier: Apache-2.0


CONFIG_MAIN_STACK_SIZE=2048
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_I2C=y
CONFIG_SPI=y
CONFIG_GPIO=y
CONFIG_GPIO_AW9523B=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_AXP2101=y

CONFIG_SHELL=y
CONFIG_I2C_SHELL=y
CONFIG_SPI_SHELL=y
CONFIG_GPIO_SHELL=y
CONFIG_REGULATOR_SHELL=y

CONFIG_LOG=y
CONFIG_LOG_CMDS=y
CONFIG_LOG_BACKEND_UART=y
CONFIG_GPIO_LOG_LEVEL_DBG=y

CONFIG_MIPI_DBI=y

CONFIG_LV_Z_MEM_POOL_SIZE=16384
CONFIG_LV_Z_SHELL=y

CONFIG_DISPLAY=y
CONFIG_ILI9342C=y
CONFIG_DISPLAY_LOG_LEVEL_ERR=y

CONFIG_LVGL=y

CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_USE_LABEL=y
CONFIG_LV_USE_BTN=y
CONFIG_LV_USE_ARC=y
CONFIG_LV_USE_IMG=y
CONFIG_LV_USE_MONKEY=y
CONFIG_LV_FONT_MONTSERRAT_14=y
